<h1>Welcome to IronTumblr</h1>

  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>

{{#if user}}
<div class="jumbtron">
  <h2>Hello {{user.username}}!</h2>
{{/if}}


<div class="container" id="posts-container">
  <div class="row">
    {{#each posts}}
    <div class="col-md-4">
    <h4>{{content}}</h4>
    <img src="{{imgPath}}" width="200"> 
    </div>
    {{/each}}
  </div>