<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{Title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEJmeY3Pyn91jt-VceT2StgpSovA9jcrs"></script>
  <script src='/javascripts/maps.js'></script>
</head>

<body>
  <div class="navbar navbar-default">
    <a class="nav-item navbar-text">MADRID|ADOPTA</a>

    {{#if user}}
    
    <span class="nav-item navbar-text">Hello, <a href="/my-profile">{{user.username}}</a>!</span>
    {{else}}
    <a class="nav-item navbar-text" href="/login">Iniciar sesión</a>
    <a class="nav-item navbar-text" href="/signup">Registrarme</a>
    {{/if}}
    <a class="nav-item navbar-text" href="/dogs">Mascotas</a>
    <a class="nav-item navbar-text" href="/centers">Centros</a>
    <a class="nav-item navbar-text" href="/logout">Cerrar Sesión</a>
  </div>
  <div class="main-container">
    {{{body}}}
  </div>

  <footer>
    <li>
      <a href="/dogs">Mascotas</a>
    </li>
    <li>
      <a href="/centers">Centros</a>
    </li>

  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/es.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="javascripts/APIHandler.js"></script>
  <script src="javascripts/script.js"></script>
</body>

</html>