<div class="container">
  <div class="row">
  </div>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <div class="col-sm-6 centered-form">
      <form action="/my-profile/create-center" method="post">
        <div class="form-group">
          <label for="name">Nombre del centro</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="phone">Número de teléfono</label>
          <input type="text" name="phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="website_url">Enlace a página</label>
          <input type="text" name="website_url" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <input type="textarea" name="description" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Crear centro</button>
      </form>
    </div>
  </div>
</div>