<section class="user-small-banner">
  <div class="user-title">
    Alta un nuevo centro
  </div>
</section>

<section class="white-section">
  <div class="container form-container padding56">
    <form action="/my-profile/create-center" method="post">
        <div class="form-group">
          <label for="name">Nombre del centro</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
         <div class="form-group">
          <label for="phone">Dirección</label>
          <input type="text" name="address" class="form-control">
        </div>
        <div class="form-group">
          <label for="phone">Número de teléfono</label>
          <input type="number" name="phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="website_url">Enlace a página</label>
          <input type="text" name="website_url" class="form-control">
        </div>
        <div class="form-group">
          <label for="facebook_url">Enlace a facebook</label>
          <input type="text" name="facebook_url" class="form-control">
        </div>
        <div class="form-group">
          <label for="twitter_handle">Cuenta de Twitter</label>
          <input type="text" name="twitter_handle" class="form-control">
        </div>
        <div class="form-group">
          <label for="instagram_handle">Cuenta de Instagram</label>
          <input type="text" name="instagram_handle" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea name="description" class="form-control"></textarea>
        </div>
        <button class="btn" type="submit">Crear centro</button>
      </form>
  </div>
</section>
