<h2>Hello {{user.username}}!</h2>

{{#if center}}

<p> {{center.name}}</p>

<a href="centers/{{center.id}}/edit"> Edit my center</a>

<a href="centers/{{center.id}}/delete"> Delete my center</a>

{{/if}}

{{#if user.isAdmin}}
<a href="/my-profile/create-center"> Dar de alta un centro</a>

{{/if}}