<section class="center-small-banner">
  <div class="center-title">
    Centros de acogida.

  </div>
</section>

<section class="white-section padding56">
  <div class="container">
  <div class="column2">

  {{#each centers}}
  <li><a href="/centers/{{this._id}}">{{this.name}}</a></li>
<<<<<<< HEAD
{{/each}}
</div>
</div>
</section>
=======
<<<<<<< HEAD
{{/each}}

<a href="/become-admin">Añadir mi centro al registro</a>
=======
{{/each}}
>>>>>>> abdallah
>>>>>>> master
