Soy la lista de centros de adopción

{{#each centerData}}
  <li><a href="/centers/{{this._id}}">{{this.name}}</a></li>
<<<<<<< HEAD
{{/each}}

<a href="/become-admin">Añadir mi centro al registro</a>
=======
{{/each}}
>>>>>>> abdallah
