<section class="center-small-banner">
  <div class="center-title">
    Centros de acogida.

  </div>
</section>

<section class="white-section padding56">
  <div class="container">
  <div class="column2">

  {{#each centerData}}
  <li><a href="/centers/{{this._id}}">{{this.name}}</a></li>

{{/each}}
</div>
</div>
</section>


<a href="/become-admin">Añadir mi centro al registro</a>

