.auth-banner {
  box-sizing: border-box;
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566491/mascotas-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  padding-top: 120px;
  
  text-align: center;
}

.auth-title {
    font-weight: 300;
    color: white;
    font-size: 28pt;
    position: relative;
}

.form-container{
  
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      font-size: 16pt;

  }
}

