.auth-banner {
  box-sizing: border-box;
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566491/mascotas-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  padding-top: 120px;
  
  text-align: center;
}

.auth-title {
    font-weight: 300;
    color: white;
    font-size: 28pt;
    position: relative;
}

.form-container{
  
    input[type=text], input[type=password], input[type=date], input[type=file], input[type=number] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      font-size: 16pt

  }

    select{
      width: 100%;
      font-size: 16pt;
      padding: 15px;

      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

  textarea{
    padding:15px;
    font-size: 12pt;
    width: 100%;
    min-height: 120px;
    border: none;
    background-color: #f1f1f1;
  }

  button {
    font-size: 12pt;
    margin-top: 24px;
    padding: 24px 20px;
    border: none;
    background-color: #84e684;
    color: white;
  }
}

.menu {
  form {
    input {width: 90px;
      padding: 5px;
      display: inline-block;
      border: none;
      background: #f1f1f1;
      font-size: 12pt;
      border-radius: 30px;
    }
  }
  button {
    color: white;
    background-color: $accent;
  }

  select{
    width: 100px; 
  }
}