body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

p {
  font-size: 11pt;
  line-height: 16pt;
}

section {
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
}

.standard-link {
  padding-top: 40px;
  text-decoration: none;
  font-weight: 600;
  color: #924992;
}

.accent {
  color: #924992;
}

.center {
  margin: 0 auto;
  height: 100%;
  vertical-align: middle;
}



// .container {
//   box-sizing: border-box;
//   margin: 0 auto;
//   max-width: 1200px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   align-content: space-between;
//   padding: 8px;
// }


.column2 {
  box-sizing: border-box;
  width: 45%;
  min-width: 300px;
  margin: 10px 10px;
  padding: 10px;
  background-size: cover;
}

.grey-section {
  background-color: #EFEFEF;
}

.white-section {
  background-color: #FFFFFF;
}

.ad-section {
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566448/woman-dog.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 430px;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 51, 88, 0.7)
}

.hero {
  box-sizing: border-box;
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566188/index-hero-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 140px;
  padding-left: 200px;
}

.hero-title {
  font-weight: 300;
  color: white;
  font-size: 28pt;
  position: relative;
  max-width: 300px;
}

h3 {
  font-size: 18pt;
  font-weight: 300;
  padding: 2px 0;
}

.panel {
  background-color:white;
  min-height: 360px;
  margin: 0px 10px 70px 10px;
  width: 40%px;
  min-width: 240px;
  text-align: left;
  padding: 5px 15px;
  border-radius:  5px 5px 6px 6px;
  box-shadow: 0 1px 5px grey;
  
  p {
    font-size: 11pt;
    line-height: 16pt;
  }
  
}

.btn-ghost {
  padding: 8px 14px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}

.btn-primary {
  padding: 8px 14px;
  background-color: #FFAD02;
  border-radius: 30px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}



.shadow {
  box-shadow: 0 2px 4px rgba(39, 39, 39, 0.8);
}

.padding40{
  padding: 40px 0;
}

.padding56{
  padding: 56px 0;
}

table {
  margin: 20px 0;
  a {
    color: black;
    text-decoration: none;
  }
  span {
  a{
    text-decoration: none;
    color: white;
  }
  }

}

td {
  padding: 4px;
  padding-right: 30px;
}

td:nth-child(odd) {
  font-weight: 700;
}