.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(26, 26, 26, 0.8);
  z-index: 10;
  color: $fontwhite;
  .navbar-text { color: $fontwhite; float: right;}
  
  .container {
    
    justify-content: flex-end;
    
  
    div:first-child{
      position: absolute;
      left: 40px;
    }
  }
  .link-block{
    padding-top: 16px;
    display: inline-block;
  }
  
  
  a {
    padding: 0 14px;
    text-decoration: none;
    color: $fontwhite;
    font-weight: 400;
  }

  a:hover {
    text-shadow: 0 4px 10px #444444;
  }
}

footer {
  
  width: 100%;
  height: 20px;
  background-color: black;
  color: $fontwhite;
  text-align: center;
}


section {
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
justify-content: space-evenly;
  align-content: center;
  padding: 8px;
}


.column3 {
  box-sizing: border-box;
  width: 20%;
  min-width: 180px;
  height: 100px;
  margin: 8px 8px;
}


.column1 {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 98%;  
  height: 100px;
  margin: 0 auto;
}

.grey-section {
  background-color: #EFEFEF;
}

.white-section {
  background-color: #FFFFFF;
}

.ad-section {
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566448/woman-dog.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 430px;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(63, 51, 88, 0.7)
}

.hero {
  box-sizing: border-box;
  background-image: url('http://res.cloudinary.com/abdaio/image/upload/v1524566188/index-hero-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 140px;
  padding-left: 200px;

  .hero-title {
    font-weight: 300;
    color: white;
    font-size: 28pt;
    position: relative;
    max-width: 300px;
  }

}



.menu {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  height: 60px;
  background-color: #FFAD02;
  z-index: 10;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  letter-spacing: 2pt;

  a {
    text-decoration: none;
    color: $fontwhite;
  }
}

.function-menu {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 20px;
  width: 100%;
  height: 60px;
  background-color: rgb(117, 77, 16);
  z-index: 10;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: $fontwhite;
    padding: 0 40px;
  }
}




section {
  box-sizing: border-box;
  width: 100%;
  min-height: 300px;
}

.standard-link {
  padding-top: 40px;
  text-decoration: none;
  font-weight: 600;
  color: #924992;
}

.accent {
  color: #924992;
}

.center {
  margin: 0 auto;
  height: 100%;
  vertical-align: middle;
}


.megabutton {
  text-align: center;
  display: inline-block;
  padding: 15px 15px;
  margin: 10px auto;
  border: none;
  width: 180px;
  color: white;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.megabutton:hover {
  position:relative;
  top: -2px;
  box-shadow: rgb(173, 173, 173) 0px 4px 2px;
}
