@import "variables";
@import "layout";
@import "dogs";

body {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $font-main;
}

a {
  color: #00B7FF;
}

.background {
  width:100%;
  h3 {
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
  }
}

.content {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .card {
    height: 360px;
    margin: 0;
    width: 360px;
    text-align: center;
    box-shadow: 0 1px 3px grey;
    img {
      height: 230px;
      width: 230px;
      border-radius: 50%;
    }
    a{
      color: $font-main;
      display: block;
      font-size: 1.33em;
      padding: 16px 0 8px;
    }
    p {
      color: black;
    }
  }
}




