@import "variables";
@import "layout";
@import "dogs";
@import "landing";
@import "centers";
@import "forms";
@import "user";

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: $font-main;
  background-color: #eeeeee;
}

.shadow {
  box-shadow: 0 2px 4px rgba(39, 39, 39, 0.8);
}

.padding24{
  padding: 24px 0;
}

.padding40{
  padding: 40px 0;
}

.padding56{
  padding: 56px 0;
}

.padding0{
  padding: 0;
}

.background {
  width:100%;
  h3 {
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
  }
}


// TEXT

p {
  font-size: 11pt;
  line-height: 16pt;
}

.hero-title {
  font-weight: 300;
  color: white;
  font-size: 28pt;
  position: relative;
  max-width: 300px;
}

h3 {
  font-size: 18pt;
  font-weight: 300;
  padding: 2px 0;
}

// BUTTONS

.btn-ghost {
  padding: 8px 14px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}

.btn-primary {
  padding: 8px 14px;
  background-color: #FFAD02;
  border-radius: 30px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}

.btn-blue {
  padding: 8px 14px;
  background-color: rgb(37, 102, 163);
  border-radius: 30px;
  font-size: 10pt;
  color: white;
  text-decoration: none;
}

// TABLES

table {
  margin: 20px 0;
}

td {
  padding: 4px;
  padding-right: 30px;
}

td:nth-child(odd) {
  font-weight: 700;
}



// IMAGES

.img-round {
  margin-top: 30px;
  background-size: cover;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: 5px solid #FFAD02;
 
}

.img-polaroid {
  margin-top: 30px;
  background-size: cover;
  height: 430px;
  width: 430px;
  border: 6px solid white;
  box-shadow: grey 0 0 5px;
 
}

.img-round-profile {
  
  background-size: cover;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  border: 5px solid #FFAD02;
  position: relative; 
  top: -90px; 
  margin-bottom: -60px;
}

// COLORS


.color-danger {
  background-color:#db4545;
}

.color-success {
  background-color:#67df6d;
}

.color-primary {
  background-color:#67a5df;
}
