Soy la lista de mascotas

<a class="btn btn-primary" href="/dogs/new">Añadir mascota</a>

{{#each dogs}}
  <div class="card">
    <div>
      <img height="90px" class="img-thumbnail" src="{{{this.picture_url}}}">
    </div>
    <div>
      <a href="/dogs/{{this._id}}">{{this.name}}</a>
    </div>
  </div>

{{/each}}